In [1]:
import pandas as pd
import os
import numpy

In [3]:
csv_path = os.path.join("Resources", "europe_covid_cases.csv")

In [5]:
df = pd.read_csv(csv_path)
df

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2020,continentExp
0,29/04/2021,29,4,2021,2286,29,Austria,AT,AUT,8901064,Europe
1,28/04/2021,28,4,2021,1557,20,Austria,AT,AUT,8901064,Europe
2,27/04/2021,27,4,2021,1380,22,Austria,AT,AUT,8901064,Europe
3,26/04/2021,26,4,2021,2091,11,Austria,AT,AUT,8901064,Europe
4,25/04/2021,25,4,2021,2231,15,Austria,AT,AUT,8901064,Europe
...,...,...,...,...,...,...,...,...,...,...,...
1795,05/03/2021,5,3,2021,4070,14,Sweden,SE,SWE,10327589,Europe
1796,04/03/2021,4,3,2021,4884,19,Sweden,SE,SWE,10327589,Europe
1797,03/03/2021,3,3,2021,4877,19,Sweden,SE,SWE,10327589,Europe
1798,02/03/2021,2,3,2021,6191,23,Sweden,SE,SWE,10327589,Europe
1799,01/03/2021,1,3,2021,669003,13072,Sweden,SE,SWE,10327589,Europe